.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.imgpizza {
  width: 250px;
  height: 250px;
  transition: 0.5s all ease;
  animation: animatedPizzaRotate 10s infinite alternate;
  cursor: pointer;
}

@keyframes animatedPizzaRotate {
  from {
    transform: translate(-100px) rotate(0);
  }
  to {
    transform: translate(100px) rotate(180deg);
  }
}
